<table border = 1>
<h1> Here's a list of all movies we have</h1>
	<tr>

		<td> <b>Title</b> </td>
		<td> <b>Genre</b> </td>
		<td> <b>Producer</b> </td>
		<td> <b>Release Date</b> </td>

	</tr>
	<% @display_all.each do |disp| %>	
		<tr>
		<td> <%= disp.title %> </td>
		<td> <%= disp.genre %> </td>
		<td> <%= disp.producer %> </td>
		<td> <%= disp.release_date %> </td>
		<% end %>
	</tr>

</table>